<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>
<html>
    <body>
        <h1>Quiz Complete</h1>
        <p>Your score: <%= score %> out of <%= totalQuestions %></p>
        <p>Thanks for playing!</p>
    </body>
</html>