body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    display: flex;
    color: #fff0f0;
    font-weight: bold;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    background-image: url(./math-pup.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 8px 8px 16px rgb(0, 0, 0);
}

.main-content {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
   
}

.index_container .navigation__container {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.index_container .navigation__container a {
    background-color: #ffffff;
    aspect-ratio: 1;
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 25px;
}

.index_container .navigation__container a:link {
    color: #2161eb;
    text-decoration: none;
}
  
.index_container .navigation__container a:visited {
    text-decoration: none;
}

.index_container .navigation__container a:hover {
    font-size: 30px;
}

.index_container .navigation__container :last-child {
    margin-right: 0px
}

.text-shadow {
    text-shadow: 20px 20px 40px rgb(0, 0, 0);
}

.bold {
    font-weight:500;
}

#move-down {
    margin-top: 200px;
}

.math-quiz {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}

.questions {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-top: 40px;
    font-size: large;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    max-width: 600px; 
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
}

form input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5d8efb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #4b78d6;
}
